<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>政策</title>
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="../public/css/Policy.css">
</head>
<body>
<div id="nav"></div>
<div id="swiper"></div>
<div id="PolicyTopOne">
    <h2>政策申报</h2>
    <span>Policy to declare</span>
</div>
<div id="PolicyTopTwo">
    <div id="PolicyTopTwoText1" style="border-right: 1px solid #888888">
        <div id="font1" style="border-bottom: 1px solid #888888">
            <h1>01</h1>
        </div>
        <br>
        <h2>一</h2>
        <div id="PolicyTopTwoContant1">

        </div>
        <div id="PolicyTopTwoImg1">
            <img src="" alt="">
        </div>
    </div>
    <div id="PolicyTopTwoText2" style="border-right: 1px solid #888888">
        <div id="font2" style="border-bottom: 1px solid #888888">
            <h1>02</h1>
        </div>
        <br>
        <h2>二</h2>
        <div id="PolicyTopTwoContant2">

        </div>
        <div id="PolicyTopTwoImg2">
            <img src="" alt="">
        </div>
    </div>
    <div id="PolicyTopTwoText3">
        <div id="font3" style="border-bottom: 1px solid #888888">
            <h1>03</h1>
        </div>
        <br>
        <h2>三</h2>
        <div id="PolicyTopTwoContant3">

        </div>
        <div id="PolicyTopTwoImg3">
            <img src="" alt="">
        </div>
    </div>
</div>
<div id="PolicyUnder">
    <br>
    <br>
    <br>
    <h1>服务支持</h1>
    <span>SERVICE SUPPORT</span>
    <div id="PolicyUnderImg">
        <div id="UnderImg1">
            <div id="img1">
                <img src="" alt="">
            </div>
            <div id="text1" style="width: 820px;
                height: 150px;
                margin-top: 12.5px;
                float: right;
                background: lightpink;">
                <br>
                <p style="float: left">勇于做小 微利是图</p>
                <br>
                <span style="text-align: left;display: inline-block">
                    做别人不能做的事情，要把每一件小事情做好、做精、做深；查堵每个环节的漏洞，不简单追求利润的较大化，而要追求客户价值的较大化。公司有较强竞争力的、专业化运营团队。
                </span>

            </div>
        </div>
        <div id="UnderImg2">
            <div id="img2">
                <img src="" alt="">
            </div>
            <div id="text2" style="width:  820px;
                height: 150px;
                margin-top: 12.5px;
                float: right;
                background: lightpink;">
                <br>
                <p style="float: left">勇于做小 微利是图</p>
                <br>
                <span style="text-align: left;display: inline-block">
                    做别人不能做的事情，要把每一件小事情做好、做精、做深；查堵每个环节的漏洞，不简单追求利润的较大化，而要追求客户价值的较大化。公司有较强竞争力的、专业化运营团队。
                </span>
            </div>
        </div>
        <div id="UnderImg3">
            <div id="img3">
                <img src="" alt="">
            </div>
            <div id="text3" style="width:  820px;
                height: 150px;
                margin-top: 12.5px;
                float: right;
                background: lightpink;">
                <br>
                <p style="float: left">勇于做小 微利是图</p>
                <br>
                <span style="text-align: left;display: inline-block">
                    做别人不能做的事情，要把每一件小事情做好、做精、做深；查堵每个环节的漏洞，不简单追求利润的较大化，而要追求客户价值的较大化。公司有较强竞争力的、专业化运营团队。
                </span>

            </div>
        </div>
    </div>
</div>
<div id="footer">
    <p>外贸综合服务</p>
</div>
<div id="goBack">
    <img src="../public/img/返回顶部.png" alt="" style="height: 78px;width: 78px">
</div>
</body>
</html>
<script>
    var topBtn = document.getElementById('goBack');
    // 获取视窗高度
    var winHeight = document.documentElement.clientHeight;
    window.onscroll = function () {
        // 获取页面向上滚动距离，chrome浏览器识别document.body.scrollTop，而火狐识别document.documentElement.scrollTop，这里做了兼容处理
        var toTop = document.documentElement.scrollTop || document.body.scrollTop;
        // 如果滚动超过一屏，返回顶部按钮出现，反之隐藏
        if (toTop >= winHeight - 800) {
            topBtn.style.display = 'block';
        } else {
            topBtn.style.display = 'none';
        }
    }
    topBtn.onclick = function () {
        var timer = setInterval(function () {
            var toTop = document.documentElement.scrollTop || document.body.scrollTop;
            // 判断是否到达顶部，到达顶部停止滚动，没到达顶部继续滚动
            if (toTop == 0) {
                clearInterval(timer);
            } else {
                // 设置滚动速度
                var speed = Math.ceil(toTop / 8);
                // 页面向上滚动
                document.documentElement.scrollTop = document.body.scrollTop = toTop - speed;
            }
        }, 20);
    }
</script>